.carro{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    background:white;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-radius: 1rem;
}
.carro:hover{
    transform: scale(110%);
}
